<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Search Api</title>
  </head>
  <body>
    <h1>This is a Image Search Abstraction Layer API</h1>
    <blockquote cite="http://">
      <h3>Access api throught <code>GET /&lt;QUERY></code></h3>
      <h3>To get recent searches go to  <code>GET /search/recent</code></h3>
    </blockquote>
  </body>
</html>
